body {
  background-color: #e7e7e7;
}

#truck {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 0 auto;
}

#counter {
  font-size: 30pt;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 24pt;
}

@media all and (max-width: 550px) {
  body{
    background-color: red;
  }
  #counter {
    font-size: 20pt;
  }
  button {
    font-size: 14pt;
  }
}
