body {
  background-color: #fff;
  font-family: 'Varela Round', sans-serif;
}

#truck {
  width: 100%;
  max-width: 650px;
  display: block;
  margin: 0 auto;
  transition: .3s;
  cursor: pointer;
}

#truck:hover{
  transform: scale(1.2);
}

#counter {
  font-size: 30pt;
  text-align: center;
}

button {
  margin: 0 auto;
  display: block;
  font-size: 24pt;
  margin-top: 1%;
  width: 30%;
  transition: 0.3s;
  cursor: pointer;
}

button:hover{
  transform: scale(1.2);
}

@media all and (max-width: 550px) {
  #counter {
    font-size: 20pt;
  }
  button {
    font-size: 14pt;
  }
}
